.que.pmatchjme .answer {
    padding: 0.3em;
    width: auto;
    display: inline;
}

.que.pmatchjme .answer input {
    width: 99%;
}

#page-question-type-pmatchjme .mform .textareamonospace {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.pmatchjme span.answerlabel {
    vertical-align: top;
}

.qtype_pmatchjme-applet-warning {
    width: 348px;
    height: 302px;
    background: #fff;
    color: #ccc;
    padding: 5px;
}

/* Editing form. Style repeated elements*/
/* Top */
body#page-question-type-pmatchjme div[id^=fitem_id_][id*=answer_],
body#page-question-type-pmatchjme #fitem_id_addanswers + .fitem {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-pmatchjme div[id^=fitem_id_][id*=_answer_] .fitemtitle,
body#page-question-type-pmatchjme #fitem_id_addanswers + .fitem .fitemtitle {
    font-weight: bold;
}

/* Middle */
body#page-question-type-pmatchjme div[id^=fitem_id_][id*=fraction_],
body#page-question-type-pmatchjme #fitem_id_addanswers + .fitem + .fitem,
body#page-question-type-pmatchjme div[id^=fitem_id_][id*=feedback_],
body#page-question-type-pmatchjme div[id^=fitem_id_][id*=otherfeedback] {
    background: #eee;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
    border-bottom: 0;
}

/* Bottom */
body#page-question-type-pmatchjme div[id^=fitem_id_][id*=atomcount_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

body#page-question-type-pmatchjme #fitem_id_addanswers {
    margin-bottom: 2em;
}

body#page-question-type-pmatchjme #fitem_id_answer_0 {
    margin-top: 1em;
}
